.page-id-2215 .item {
  clear: both;
  margin-bottom: 4em;
}
.page-id-2215 .entry-content h4 {
  margin-bottom: 0.25em;
}
.page-id-2215 .entry-content h5,
.page-id-2215 .entry-content p {
  margin-bottom: 0.75em;
}
