/*
Theme Name:     INN
Theme URI:      http://inn.org
Description:    Child theme for the Institute for Nonprofit News built with the Project Largo parent theme
Author:         The INN Nerds
Author URI:     http://nerds.inn.org
Template:       largo
Version:        0.2.0
*/
.flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  /*IE*/
  filter: fliph;
  /*IE*/
}
body,
.btn-primary,
.btn,
.navbar,
h1,
h2,
h3,
h4,
h5,
.widgettitle,
input,
button,
select,
textarea {
  font-family: "effra", helvetica, sans-serif;
  color: #4d4d4d;
}
h1 {
  color: #333333;
}
textarea,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="url"],
input[type="search"] {
  border-radius: 0;
}
.entry-content p,
.entry-content ul,
.entry-content ol {
  font-family: "leitura-news", georgia, serif;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
.widgettitle {
  font-weight: 700;
  line-height: 1.2;
}
a {
  color: #09c9ff;
}
a:hover {
  color: #3cd4ff;
}
.btn {
  text-shadow: none;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 24px;
  background-color: #09c9ff;
  color: #fff;
  border-radius: 0;
}
.btn:hover {
  background-color: #00b5e8;
  color: #fff;
}
.btn.btn-primary {
  color: #fff;
  background-color: #f77710;
}
.btn.btn-primary:hover {
  background-color: #df6807;
}
.btn.btn.search-submit {
  padding: 4px 10px;
}
.btn.btn-small {
  padding: 5px 9px;
}
.btn.btn-mini {
  padding: 2px 6px;
}
.donate-btn a:hover {
  color: #fff;
}
#top-nav li {
  padding-top: 2px;
}
#top-nav li.main_site_home_link {
  padding-top: 0;
  font-size: 16px;
  font-weight: bold;
}
#top-nav li.main_site_home_link a {
  color: #09c9ff;
}
.dropdown-menu .main_site_home_link {
  display: none;
}
.navbar {
  margin-bottom: 0;
}
.navbar li.home-icon > a img {
  height: 58px;
}
.footer-bg {
  background-color: #4d4d4d;
}
#site-footer .widgettitle,
#site-footer li.menu-label,
#menu-footer-navigation li,
#supplementary ul.menu li {
  border-bottom: none;
}
#supplementary div:nth-child(3) {
  margin-top: 2.015em;
}
#supplementary div:first-child {
  padding: 10px 30px 0 0;
}
#supplementary div.menu-footer-2-container {
  padding: 0;
}
#site-footer a {
  color: #aaaaaa;
}
#site-footer a:hover {
  color: #09c9ff;
}
#site-footer .widgettitle,
#site-footer li.menu-label {
  color: #fafafa;
  font-weight: 700;
}
#site-footer .widgettitle a,
#site-footer li.menu-label a {
  color: #fafafa;
}
#site-footer #footer-social {
  display: block;
  margin: 0 auto;
  padding-bottom: 0;
  text-align: center;
}
#site-footer #footer-social li {
  float: none;
  display: inline-block;
}
#site-footer #footer-social li i {
  color: #fff;
  background-color: #909799;
  padding: 14px;
  border-radius: 30px;
  margin: 0 4px;
}
#site-footer #footer-social li i:hover {
  background-color: #fff;
  color: #909799;
}
#site-footer #footer-social li i.icon-github:hover {
  color: #909799;
}
@media (max-width: 768px) {
  #site-footer #footer-social {
    float: none;
  }
  #site-footer #footer-social li {
    min-height: 56px;
  }
  #site-footer #footer-social li i {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  #site-footer img[alt="INN logo"] {
    width: 400px;
  }
}
@media (max-width: 480px) {
  #site-footer img[alt="INN logo"] {
    max-width: 75%;
    padding: 2em 0;
  }
}
#site-footer .widget.widget_sp_image {
  margin-top: 1em;
}
#menu-footer-navigation,
#supplementary ul.menu {
  font-family: "effra", helvetica, sans-serif;
}
#supplementary {
  border-bottom: none;
  padding-top: 3em;
  margin-bottom: 0;
}
#boilerplate {
  text-align: center;
  border-top: none;
}
#boilerplate .span6 {
  margin: 0 auto;
  float: none;
}
#boilerplate .span6.right {
  text-align: center;
}
#boilerplate .copyright,
#boilerplate .menu,
#boilerplate .footer-bottom {
  margin-bottom: 0.5em;
}
@media (max-width: 768px) {
  #site-footer {
    text-align: center;
  }
  #site-footer img.alignleft {
    float: none;
    margin: 0 auto 1.5em;
  }
  #site-footer p,
  #site-footer li {
    font-size: 15px;
    line-height: 1.8;
  }
  #boilerplate .copyright,
  #boilerplate .menu,
  #boilerplate .footer-bottom {
    margin-bottom: 1.5em;
  }
  #supplementary {
    padding-top: 1em;
  }
  #supplementary div:nth-child(2),
  #site-footer #supplementary div:nth-child(2) .widget,
  #site-footer #supplementary div:nth-child(2) ul.menu {
    margin-bottom: 0;
  }
  #supplementary div:nth-child(3) {
    margin-top: 0;
  }
  #supplementary div:first-child {
    padding: 0;
  }
  #menu-footer-navigation li,
  #supplementary ul.menu li {
    font-size: 19px;
    margin-bottom: 8px;
  }
  #site-footer .widget_nav_menu .widgettitle {
    font-size: 21px;
    margin-bottom: 0.5em;
  }
}
.footer-credit-padding-inn-logo-missing {
  margin-top: 0;
}
.top-tag {
  font-weight: 300;
}
.stories h2.entry-title {
  font-size: 24px;
  margin-bottom: 0.5em;
}
.stories h2.entry-title a {
  color: #4d4d4d;
}
.stories h2.entry-title a:hover {
  color: #09c9ff;
}
.stories h5.byline {
  display: none;
}
.type-pull-quote {
  border-left: 1px solid #aaaaaa;
  padding-left: 40px;
  color: #4d4d4d;
}
@media (max-width: 768px) {
  .type-pull-quote {
    padding: 20px 10px;
    text-align: center;
    border: none;
    border-top: 3px solid #4d4d4d;
    border-bottom: 3px solid #4d4d4d;
    margin: 0 auto 1em;
    max-width: 90%;
  }
}
.gform_wrapper.donation_form_wrapper .gfield_required,
.gform_wrapper.membership_form_wrapper .gfield_required,
.gform_wrapper.donation_form_wrapper .ginput_product_price_label,
.gform_wrapper.membership_form_wrapper .ginput_product_price_label {
  display: none;
}
.gform_wrapper.donation_form_wrapper h2.gsection_title,
.gform_wrapper.membership_form_wrapper h2.gsection_title {
  font-size: 32px;
}
.gform_wrapper.donation_form_wrapper .gsection,
.gform_wrapper.membership_form_wrapper .gsection {
  border-bottom: 1px solid #aaaaaa;
}
.gform_wrapper.donation_form_wrapper .field_sublabel_above,
.gform_wrapper.membership_form_wrapper .field_sublabel_above {
  height: auto;
  margin-bottom: 0;
}
.gform_wrapper.donation_form_wrapper .top_label .gfield_label,
.gform_wrapper.membership_form_wrapper .top_label .gfield_label {
  font-size: 0.875em;
  margin: 0.75em 0 0.188em;
}
.gform_wrapper.donation_form_wrapper .gfield_checkbox li label,
.gform_wrapper.membership_form_wrapper .gfield_checkbox li label {
  max-width: 95%;
  margin: 4px 0 0 10px;
}
@media (max-width: 680px) {
  .gform_wrapper.donation_form_wrapper .gfield_checkbox li label,
  .gform_wrapper.membership_form_wrapper .gfield_checkbox li label {
    max-width: 85%;
  }
}
.gform_wrapper.donation_form_wrapper .gform_button,
.gform_wrapper.membership_form_wrapper .gform_button,
.gform_wrapper.donation_form_wrapper .gform_next_button,
.gform_wrapper.membership_form_wrapper .gform_next_button,
.gform_wrapper.donation_form_wrapper .gform_previous_button,
.gform_wrapper.membership_form_wrapper .gform_previous_button {
  padding: 12px 36px;
  background-color: #09c9ff;
  color: #fff;
  font-family: "effra", helvetica, sans-serif;
  border: none;
  font-size: 21px;
  font-weight: bold;
}
.gform_wrapper.donation_form_wrapper .gform_button[type=submit],
.gform_wrapper.membership_form_wrapper .gform_button[type=submit],
.gform_wrapper.donation_form_wrapper .gform_next_button,
.gform_wrapper.membership_form_wrapper .gform_next_button {
  background-color: #f77710;
  position: relative;
  top: -4px;
}
.gform_wrapper.donation_form_wrapper.gf_browser_chrome .ginput_complex .ginput_right select,
.gform_wrapper.membership_form_wrapper.gf_browser_chrome .ginput_complex .ginput_right select,
.gform_wrapper.donation_form_wrapper.gf_browser_chrome .ginput_complex select,
.gform_wrapper.membership_form_wrapper.gf_browser_chrome .ginput_complex select {
  height: 41px;
  margin-bottom: 0 !important;
}
.gform_wrapper.donation_form_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.membership_form_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
  margin-top: 0.25em;
}
.gform_wrapper.donation_form_wrapper #field_1_15 .gfield_label {
  display: none;
}
.gform_wrapper.donation_form_wrapper label.gfield_label {
  font-weight: 400;
}
.gform_wrapper.donation_form_wrapper label.gfield_label + div.ginput_container {
  margin-top: 0;
}
.gform_wrapper.donation_form_wrapper .gfield_price {
  width: 30%;
  float: left;
}
.gform_wrapper.donation_form_wrapper .gfield_price .ginput_amount {
  width: 100%;
}
@media (max-width: 1050px) {
  .gform_wrapper.donation_form_wrapper .gfield_price {
    width: 35%;
  }
}
@media (max-width: 980px) {
  .gform_wrapper.donation_form_wrapper .gfield_price {
    width: 50%;
  }
}
.gform_wrapper.donation_form_wrapper #field_1_15 {
  clear: none;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio {
  position: relative;
  top: 53px;
  display: inline;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li {
  display: inline;
  margin-right: 12px;
  width: auto;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li input {
  display: none;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li label {
  padding: 7px 24px;
  margin: 0;
  background-color: #09c9ff;
  font-size: 18px;
  font-family: "effra", helvetica, sans-serif;
  color: #fff;
}
.gform_wrapper.donation_form_wrapper ul.gfield_radio li input[type=radio]:checked + label {
  background-color: #f77710;
  font-weight: 500;
}
@media (max-width: 480px) {
  .gform_wrapper.donation_form_wrapper ul.gfield_radio li {
    display: block;
    margin: 10px 0 0;
    text-align: center;
  }
  .gform_wrapper.donation_form_wrapper ul.gfield_radio li label {
    width: 100%;
  }
}
@media (max-width: 980px) {
  .gform_wrapper.donation_form_wrapper ul.gfield_radio {
    clear: both;
    top: 0;
    left: 0;
  }
}
.gform_wrapper.donation_form_wrapper .ginput_container_address,
.gform_wrapper.donation_form_wrapper .gfield_total,
.gform_wrapper.donation_form_wrapper .ginput_container_creditcard {
  margin-bottom: 0.875em;
}
.gform_wrapper.donation_form_wrapper .gfield_price_1_20,
.gform_wrapper.donation_form_wrapper .gfield_total {
  width: 100%;
}
.gform_wrapper.donation_form_wrapper .gfield_price_1_20 .gfield_label,
.gform_wrapper.donation_form_wrapper .gfield_total .gfield_label {
  font-family: "effra", helvetica, sans-serif;
  font-size: 24px;
}
@media (max-width: 480px) {
  .gform_wrapper.donation_form_wrapper .gf_name_has_2 span,
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_right,
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_left,
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_cardinfo_left {
    width: 100% !important;
  }
  .gform_wrapper.donation_form_wrapper ul.gfield_radio li {
    display: block;
    clear: both;
    float: none;
    text-align: center;
  }
  .gform_wrapper.donation_form_wrapper .gfield_price,
  .gform_wrapper.donation_form_wrapper .top_label input.medium {
    width: 97.5%;
  }
  .gform_wrapper.donation_form_wrapper div.ginput_container_name span {
    margin-right: 0;
    padding-right: 0;
  }
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_right {
    margin-left: 0;
  }
  .gform_wrapper.donation_form_wrapper .ginput_complex .ginput_cardinfo_left {
    margin-right: 0;
  }
}
.gform_wrapper.membership_form_wrapper .gfield_radio label {
  position: relative;
  left: 5px;
  top: 2px;
  font-size: 17px;
}
.gform_wrapper.membership_form_wrapper #field_2_26,
.gform_wrapper.membership_form_wrapper #field_2_24 label.gfield_label,
.gform_wrapper.membership_form_wrapper #field_2_17 label.gfield_label {
  display: none;
}
.gform_wrapper.membership_form_wrapper #field_2_15 {
  margin: 2em 0 3em;
  font-size: 14px;
}
.gform_wrapper.membership_form_wrapper #field_2_33 .gfield_label {
  font-size: 24px;
}
#header-social .icon-youtube-parent,
#header-social .icon-gplus-parent,
#header-social .icon-linkedin-parent,
#header-social .icon-github-parent {
  display: none;
}
.search-submit.btn {
  padding: 4px 10px;
}
#site-header img {
  max-width: 280px;
  margin-left: 100px;
}
#site-header a.btn-primary {
  margin-right: 100px;
  margin-top: 12px;
}
#site-header .widget {
  margin-bottom: 0;
}
.navbar .container {
  padding: 0 90px;
}
@media (max-width: 1050px) {
  .navbar .container {
    padding: 0 10px;
  }
}
#header-search {
  float: right;
  margin-left: 0;
}
.alert-wrapper {
  background: transparent;
  border: none;
  padding: 0;
}
#alert-container {
  background-color: white;
  padding: 0;
  clear: both;
  max-width: 1170px;
  box-sizing: border-box;
}
#alert-container p {
  margin-bottom: 0;
  color: #000000;
  font-family: "effra", helvetica, sans-serif;
  text-align: center;
}
#alert-container a {
  color: #000000;
  padding: 0.5em 2.5%;
  display: block;
  border: 1px solid #000000;
}
#alert-container a:hover {
  background-color: #09c9ff;
  color: white;
  text-decoration: none;
  border: 1px solid #09c9ff;
}
#page {
  max-width: 100%;
  padding: 0;
}
#main {
  max-width: 1170px;
  margin: 4em auto;
}
#main .row-fluid img.icon,
#main .row-fluid a.program img {
  width: 40px;
  height: 40px;
  margin-bottom: 0.8em;
}
#main .row-fluid .span4 #sidebar {
  padding: 1em 2em;
  text-align: left;
}
@media (max-width: 980px) {
  #main .row-fluid .span4 {
    padding: 1.5em 2em;
  }
}
@media (max-width: 600px) {
  #main .row-fluid .span4 {
    width: 100%;
    margin: 0;
    clear: both;
    padding: 0.5em 10%;
  }
}
@media (max-width: 1230px) {
  #main .row-fluid .span6 {
    padding: 1em 2em;
  }
}
@media (max-width: 980px) {
  #main .row-fluid .span5,
  #main .row-fluid .span6,
  #main .row-fluid .span7 {
    padding: 1.5em 2em;
  }
}
@media (max-width: 600px) {
  #main .row-fluid .span5,
  #main .row-fluid .span6,
  #main .row-fluid .span7 {
    width: 100%;
    margin: 0;
    clear: both;
    padding: 0.5em 10%;
  }
}
#main .row-fluid h5 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.25em;
}
#main .row-fluid h5.top-tag {
  font-weight: 300;
  font-size: 16px;
}
#main .row-fluid h5 a:hover {
  color: #09c9ff;
}
#main .row-fluid p {
  font-size: 16px;
  font-weight: 300;
}
body.page #content {
  width: 70%;
  margin: 0 auto;
  float: none;
}
body.page.page-template-single-two-column #content {
  width: 65.9574468%;
  float: left;
}
@media only screen and (max-width: 768px) {
  body.page.page-template-single-two-column #content,
  body.page.page-template-single-two-column #sidebar {
    width: 100%;
    padding: 0 2%;
  }
}
body.page.page-template-full-page #content {
  margin-left: 0;
  width: 100%;
}
body.normal.page .entry-content {
  padding: 0;
}
h1.entry-title {
  text-align: center;
  margin-bottom: 0.5em;
}
h5.byline {
  text-align: center;
  margin-bottom: 2em;
}
#hero,
section.interstitial {
  max-width: 100%;
  background-color: #f2f2f2;
}
section,
.interstitial .content {
  margin: 0 auto;
  max-width: 1170px;
}
.interstitial {
  max-width: 100%;
  margin: 0 auto 3em;
  background-color: #f2f2f2;
  padding-top: 3em;
  padding-bottom: 3em;
}
.branding {
  padding-left: 3em;
  padding-right: 3em;
}
.branding img {
  float: left;
  margin: 1em 3em 1em 1em;
}
.branding .content {
  overflow: auto;
}
.branding .content-inner {
  float: right;
  width: 75%;
}
.branding h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0.25em;
  text-align: left;
}
.branding form {
  display: block;
  float: none;
  margin: 0 auto;
}
.branding input {
  float: left;
  margin-right: 6px;
  padding: 12px 10px;
  width: 400px;
}
.branding input.btn {
  display: block;
  float: left;
  clear: none;
  padding: 13px 1em;
  width: 200px;
}
@media (max-width: 700px) {
  .branding img {
    float: none;
    margin: 0 auto 1em;
    width: 30%;
  }
  .branding .content {
    overflow: visible;
  }
  .branding .content-inner {
    width: 100%;
    float: none;
    text-align: center;
  }
  .branding h3 {
    text-align: center;
  }
  .branding input {
    float: none;
    margin-right: 0;
    max-width: 75%;
  }
  .branding input.btn {
    float: none;
    margin: 0 auto;
    clear: both;
  }
}
#quick-links {
  text-align: center;
  margin-bottom: 2em;
}
#quick-links h4 {
  color: #4d4d4d;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  #quick-links h4 {
    margin-bottom: 0.5em;
  }
}
#quick-links li {
  font-size: 1.25em;
  display: inline-block;
  list-style: none;
  margin: 0 20px 0 0;
}
@media (max-width: 600px) {
  #quick-links {
    margin-bottom: 0;
  }
  #quick-links > .span12 {
    padding: 1em 2.5em;
  }
  #quick-links li {
    display: list-item;
    margin-bottom: 0.5em;
  }
}
#programs h3,
#member-info h3 {
  background-color: #f77710;
  color: #f77710;
}
@media (max-width: 600px) {
  #programs h3,
  #member-info h3 {
    line-height: 1.5;
    background-color: transparent;
    margin-bottom: 0.5em;
  }
}
#programs h5 a:hover,
#member-info h5 a:hover {
  color: #f77710;
}
@media (max-width: 530px) {
  .single #content {
    padding: 0 5%;
  }
}
.article-bottom .widget {
  padding: 0 !important;
}
.internal-subnav h3 {
  font-size: 24px;
  margin-bottom: 1.25em;
  text-transform: uppercase;
  color: #09c9ff;
}
.internal-subnav ul {
  margin-left: 0;
  padding-bottom: 2em;
  border-right: 10px #09c9ff solid;
}
.internal-subnav ul li {
  list-style: none;
  font-size: 15px;
}
.internal-subnav ul li.current_page_item {
  font-weight: bold;
}
.internal-subnav ul li a {
  color: #909799;
}
.internal-subnav ul li a:hover {
  color: #3cd4ff;
}
.internal-subnav ul.children {
  margin: 12px 0 0 20px;
  font-weight: normal;
  border-right: none;
  padding-bottom: 0;
}
.internal-subnav-dropdown {
  text-align: center;
  margin: 0 0 1.5em 0;
}
.internal-subnav-dropdown h3 {
  font-size: 20px;
  margin: 0 0 0.5em 0;
}
.internal-subnav-dropdown .choose-a-page {
  font-size: 16px;
  color: #aaaaaa;
  margin: 0 0 0.5em 0;
}
body.normal.page #content.has-menu,
body.normal.single #content.has-menu {
  margin-left: 0;
  padding-left: 80px;
  width: 74.4680851%;
  float: left;
}
@media (max-width: 980px) {
  body.normal.page #content.has-menu,
  body.normal.single #content.has-menu {
    width: 100%;
    padding: 0 10%;
  }
}
@media (max-width: 640px) {
  body.normal.page #content.has-menu,
  body.normal.single #content.has-menu {
    padding: 0 3%;
  }
}
body.normal.page .stories .top-tag {
  float: none;
}
.single-pauinn_project .bottom {
  padding-top: 2em;
}
.single-pauinn_project .bottom h3 {
  font-size: 21px;
  margin-bottom: 0.75em;
}
.single-pauinn_project .bottom ul {
  margin: 0;
}
.single-pauinn_project .bottom ul li {
  list-style: none;
}
.single-pauinn_project .bottom .span6 li {
  padding-right: 40px;
  margin-bottom: 1.5em;
}
.single-pauinn_project .bottom .span6 li a {
  color: #909799;
}
.single-pauinn_project .bottom .span6 li a:hover {
  color: #09c9ff;
}
.single-pauinn_project .bottom .span6.members a {
  display: block;
  float: left;
}
.single-pauinn_project .bottom .span6.members img {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin: 0 8px 1em 0;
}
@media (max-width: 800px) {
  #main {
    margin-top: 1em;
  }
}
@media (max-width: 768px) {
  body.page #content {
    width: 90%;
  }
}
@media (max-width: 480px) {
  #header-extras .donate-link {
    display: none;
  }
}
.postid-434290 .top-tag,
.postid-434290 .byline,
.postid-434290 #nav-below {
  display: none;
}
