.home #page {
  max-width: 100%;
  padding: 0;
}
.home #main {
  margin: 0;
  max-width: 100%;
}
.home #hero {
  background-size: cover;
  height: 600px;
  margin-bottom: 1em;
}
.home #hero .flex-container {
  display: flex;
  height: inherit;
  position: relative;
}
.home #hero .heroslider {
  width: 100%;
  height: inherit;
  overflow: hidden;
}
.home #hero .heroslide1,
.home #hero .heroslide2,
.home #hero .heroslide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.home #hero .heroslide1 {
  background: url(../img/impact-winners/1.jpg) no-repeat center 25%;
  background-size: cover;
  animation: fade 15s infinite;
  -webkit-animation: fade 15s infinite;
}
.home #hero .heroslide2 {
  background: url(../img/impact-winners/2.jpg) no-repeat center 25%;
  background-size: cover;
  animation: fade2 15s infinite;
  -webkit-animation: fade2 15s infinite;
}
.home #hero .heroslide3 {
  background: url(../img/impact-winners/3.jpg) no-repeat center 25%;
  background-size: cover;
  animation: fade3 15s infinite;
  -webkit-animation: fade3 15s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.home #hero .gradient-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.6) 100%);
  align-self: flex-end;
  padding-top: 70px;
  width: 100%;
  z-index: 2;
  position: absolute;
}
.home #hero .content {
  margin: 0 auto .75em;
  max-width: 1070px;
  color: #fff;
}
.home #hero .content a h4 {
  text-decoration: none;
}
.home #hero .content a h4:hover {
  color: #09c9ff;
}
.home #hero .content h4 {
  color: #fff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}
@media (max-width: 1000px) {
  .home #hero .gradient-overlay {
    padding-top: 40px;
  }
  .home #hero .gradient-overlay .content h4 {
    padding: 0 5px;
    font-size: 25.33px;
  }
}
@media (max-width: 700px) {
  .home #hero {
    height: 300px;
  }
}
.home #homepage-top-right ol {
  margin: 0;
}
.home #homepage-top-right .tribe-events-adv-list-widget ol li {
  margin-bottom: 1em;
}
.home #homepage-top-right h4.entry-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0.25em;
}
.home #homepage-top-right h4.entry-title a {
  color: #909799;
}
.home #hire-us {
  padding: 3em;
  text-align: center;
}
.home #hire-us h5 {
  color: #fff;
}
.home #members {
  height: auto;
  background: none;
  margin-bottom: 3em;
}
.home #members h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.home #main #supporters {
  padding-top: 2em;
  background-color: #edf1f4;
  margin-bottom: 0;
  padding-bottom: 0;
}
.home #main #supporters .span4 {
  padding: 2em 2em 1em;
}
.home #main #supporters h3 {
  width: auto;
  color: #555555;
  background-color: transparent;
  line-height: 1;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.home #main #supporters li {
  list-style: none;
  text-align: left;
  margin-bottom: 1em;
  color: #909799;
}
.home #main #supporters li a {
  color: #909799;
}
@media (max-width: 768px) {
  .home #main #supporters {
    padding-bottom: 2em;
  }
  .home #main #supporters .span4 {
    clear: both;
    width: 100%;
    padding: 0 2em;
    margin: 0;
  }
  .home #main #supporters h3 {
    margin-bottom: 1em;
  }
  .home #main #supporters li {
    text-align: center;
  }
}
.home .sticky-nav-holder {
  border-bottom: none;
}
@media (max-width: 768px) {
  .home .sticky-nav-holder {
    border-bottom: #aaaaaa 1px solid;
  }
}
body.home.admin-bar .sticky-nav-holder {
  border-bottom: none;
}
@media (max-width: 768px) {
  body.home.admin-bar .sticky-nav-holder {
    border-bottom: #aaaaaa 1px solid;
  }
}
#email img {
  /*margin: 0 10% 0 0;*/
  display: block;
  width: 15%;
  height: auto;
}
#testimonial img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  margin: 0 5em 0 0;
}
#testimonial p {
  padding: 0 4em;
  font-family: "leitura-news", georgia, serif;
  font-size: 21px;
}
#testimonial p.credit {
  text-align: right;
  font-family: "effra", helvetica, sans-serif;
  font-size: 18px;
}
@media (max-width: 900px) {
  #testimonial p {
    padding: 0 2em;
  }
  #testimonial p.credit {
    text-align: left;
  }
}
@media (max-width: 700px) {
  #testimonial img {
    display: block;
    float: none;
    clear: both;
    margin: 0 auto 2em;
  }
  #testimonial p {
    padding: 0;
  }
  #testimonial p.credit {
    margin-bottom: 0;
  }
}
