.home .sticky-nav-holder {
  border-bottom: none;
}
@media (max-width: 768px) {
  .home .sticky-nav-holder {
    border-bottom: #aaa 1px solid;
  }
}
#homepage-top-right .widget_text {
  text-align: left;
}
#homepage-top-right .widget_text h4 {
  font-size: 1rem;
  font-weight: 300;
}
#homepage-top-right .widget_text .textwidget {
  line-height: 1.2;
  color: #000;
  font-size: 1.8rem;
}
@media (min-width: 601px) and (max-width: 1100px) {
  #homepage-top-right .widget_text .textwidget {
    font-size: calc(0.4rem + 1.7vw);;
  }
}
@media (max-width: 600px) {
  #homepage-top-right {
    width: 100%;
    margin: 0;
    clear: both;
  }
  #homepage-top-right .widget_text {
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
#homepage-top-left {
  margin-left: 0;
}
#homepage-top-left .widget_sp_image {
  padding: 0;
  position: relative;
  color: white;
}
#homepage-top-left .widget_sp_image .widget_sp_image-description {
  position: absolute;
  top: 3em;
  font-size: 1.8rem;
}
@media (min-width: 601px) and (max-width: 1100px) {
  #homepage-top-left .widget_sp_image .widget_sp_image-description {
    font-size: calc(0.4rem + 1.7vw);;
  }
}
@media (max-width: 600px) {
  #homepage-top-left .widget_sp_image .widget_sp_image-description {
    font-size: calc(0.4rem + 2.7vw);;
  }
}
#homepage-top-left .widget_sp_image .widget_sp_image-description p {
  padding-left: 2rem;
  height: 100%;
  font-size: inherit;
  text-shadow: 0 0 20px black, 0 0 30px black;
}
#homepage-top-left .widget_sp_image .widget_sp_image-description b {
  display: block;
  font-size: 150%;
  clear: both;
}
@media (max-width: 600px) {
  #homepage-top-left {
    width: 100%;
    margin: 0;
    clear: both;
  }
}
#homepage-middle {
  padding-top: 24px;
  padding-bottom: 24px;
  box-sizing: border-box;
}
#homepage-middle .widgettitle {
  font-weight: 700;
}
@media (max-width: 720px) {
  #homepage-middle .widgettitle {
    margin-bottom: 1em;
  }
}
#homepage-middle .largo-recent-posts h5,
#homepage-middle h3 {
  font-size: 1.4rem;
  font-family: "effra", helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (max-width: 720px) {
  #homepage-middle .largo-recent-posts h5,
  #homepage-middle h3 {
    font-size: 2rem;
  }
}
#homepage-middle .largo-recent-posts h5 a,
#homepage-middle h3 a {
  color: #000;
}
#homepage-middle .largo-recent-posts h5 a:hover,
#homepage-middle h3 a:hover {
  color: #000;
}
#homepage-middle h5.top-tag {
  margin-top: 1em;
  margin-bottom: 1em;
}
#homepage-middle .widget {
  border: 2px solid transparent;
}
#homepage-middle .widget_inn-next-event-widget {
  border-color: #4d4d4d;
}
#homepage-middle .widget_inn-next-event-widget .inner {
  padding: 1.5rem 1.5rem;
}
#homepage-middle .widget_inn-next-event-widget .excerpt {
  color: #000;
  text-decoration: none;
}
#homepage-middle .widget_inn-next-event-widget .excerpt:hover {
  text-decoration: underline;
}
#homepage-middle .widget_inn-next-event-widget .widgettitle {
  background-color: #4d4d4d;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-weight: 700;
}
#homepage-middle .widget_inn-next-event-widget .widgettitle a {
  color: white;
}
#homepage-middle .widget_inn-next-event-widget h3 {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  color: #000;
}
#homepage-middle .widget_inn-next-event-widget p {
  font-size: 1.2rem;
}
#homepage-middle .widget_inn-next-event-widget btn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#homepage-middle .largo-recent-posts ul {
  margin-top: 0;
  margin-bottom: 0;
}
#homepage-middle .largo-recent-posts ul p:last-child,
#homepage-middle .largo-recent-posts ul li:last-child {
  margin-bottom: 0;
}
@media (max-width: 720px) {
  #homepage-middle .widget:not(.widget_inn-next-event-widget) + .widget:not(.widget_inn-next-event-widget) .widgettitle {
    border-top: 1px solid #aaa;
    padding-top: 1em;
  }
}
#homepage-middle .span4 {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
@supports not (display: flex) {
  @media (min-width: 720px) {
    #homepage-middle .span4 {
      width: calc( ( 100% - (2 * 24px) )/3 );
    }
    #homepage-middle .span4:nth-child(3n+2),
    #homepage-middle .span4:nth-child(3n+3) {
      margin-left: 24px;
      border-left: 1px solid #aaa;
      padding-left: 24px;
    }
  }
}
@supports (display: flex) {
  @media (min-width: 720px) {
    #homepage-middle {
      display: flex;
      align-items: stretch;
    }
    #homepage-middle .span4 {
      flex: 0 1 auto;
      margin-left: 0;
    }
    #homepage-middle .span4:nth-child(3n+1),
    #homepage-middle .span4:nth-child(3n+2) {
      margin-right: 2em;
    }
    #homepage-middle .span4:nth-child(3n+2),
    #homepage-middle .span4:nth-child(3n+3) {
      padding-left: 2em;
      border-left: 1px solid #aaa;
    }
  }
}
body.home.admin-bar .sticky-nav-holder {
  border-bottom: none;
}
@media (max-width: 768px) {
  body.home.admin-bar .sticky-nav-holder {
    border-bottom: #aaa 1px solid;
  }
}
#email .mc-field-group {
  display: inline;
}
#email input {
  margin-bottom: 0;
  max-width: 350px;
}
@media (max-width: 768px) {
  #email input {
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
  }
}
#email input.btn {
  max-width: 150px;
}
#testimonial img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  margin: 0 5em 0 0;
}
#testimonial p {
  padding: 0 4em;
  font-family: "leitura-news", georgia, serif;
  font-size: 21px;
}
#testimonial p.credit {
  text-align: right;
  font-family: "effra", helvetica, sans-serif;
  font-size: 18px;
}
@media (max-width: 900px) {
  #testimonial p {
    padding: 0 2em;
  }
  #testimonial p.credit {
    text-align: left;
  }
}
@media (max-width: 700px) {
  #testimonial img {
    display: block;
    float: none;
    clear: both;
    margin: 0 auto 2em;
  }
  #testimonial p {
    padding: 0;
  }
  #testimonial p.credit {
    margin-bottom: 0;
  }
}
