.home #homepage-top-right {
  float: right;
}
.home #homepage-top-right .widget_text {
  text-align: left;
}
.home #homepage-top-right .widget_text h4 {
  font-size: 1rem;
  font-weight: 300;
}
.home #homepage-top-right .widget_text .textwidget {
  font-size: 1.8rem;
  color: #000000;
}
.home #homepage-top-left {
  margin-left: 0;
}
.home #homepage-top-left .widget_sp_image {
  padding: 0;
  position: relative;
}
.home #homepage-top-left .widget_sp_image .widget_sp_image-description {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: table;
  font-size: 3rem;
  color: white;
}
.home #homepage-top-left .widget_sp_image .widget_sp_image-description p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 3rem;
  height: 100%;
}
.home #homepage-top-left .widget_sp_image .widget_sp_image-description b {
  display: block;
  font-size: 150%;
  clear: both;
}
.home .sticky-nav-holder {
  border-bottom: none;
}
@media (max-width: 768px) {
  .home .sticky-nav-holder {
    border-bottom: #aaaaaa 1px solid;
  }
}
.home #homepage-middle .widgettitle {
  padding: 3px;
  display: block;
  font-weight: 300;
}
.home #homepage-middle h3 {
  font-size: 1.4rem;
}
.home #homepage-middle .widget_inn-next-event-widget {
  border: 2px solid #4d4d4d;
}
.home #homepage-middle .widget_inn-next-event-widget .inner {
  padding: 1.5rem 1.5rem;
}
.home #homepage-middle .widget_inn-next-event-widget .widgettitle {
  background-color: #4d4d4d;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-weight: 700;
}
.home #homepage-middle .widget_inn-next-event-widget .widgettitle a {
  color: white;
}
.home #homepage-middle .widget_inn-next-event-widget h3 {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  color: #000000;
}
.home #homepage-middle .widget_inn-next-event-widget h3 a {
  color: #000000;
}
.home #homepage-middle .widget_inn-next-event-widget h3 a:hover {
  color: #000000;
}
.home #homepage-middle .widget_inn-next-event-widget p {
  font-size: 1.2rem;
}
.home #homepage-middle .widget_inn-next-event-widget btn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body.home.admin-bar .sticky-nav-holder {
  border-bottom: none;
}
@media (max-width: 768px) {
  body.home.admin-bar .sticky-nav-holder {
    border-bottom: #aaaaaa 1px solid;
  }
}
#email img {
  /*margin: 0 10% 0 0;*/
  display: block;
  width: 15%;
  height: auto;
}
#testimonial img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  margin: 0 5em 0 0;
}
#testimonial p {
  padding: 0 4em;
  font-family: "leitura-news", georgia, serif;
  font-size: 21px;
}
#testimonial p.credit {
  text-align: right;
  font-family: "effra", helvetica, sans-serif;
  font-size: 18px;
}
@media (max-width: 900px) {
  #testimonial p {
    padding: 0 2em;
  }
  #testimonial p.credit {
    text-align: left;
  }
}
@media (max-width: 700px) {
  #testimonial img {
    display: block;
    float: none;
    clear: both;
    margin: 0 auto 2em;
  }
  #testimonial p {
    padding: 0;
  }
  #testimonial p.credit {
    margin-bottom: 0;
  }
}
