@xltgray: #edf1f4;
@ltgray: #aaa;
@medgray: #909799;
@dkgray: #555;
@xdkgray: #333;
@black: #1c1c1c;

@blue: #0089bb;
@lightblue: lighten(@blue, 20%);
@darkblue: lighten(@blue, 20%);

@yellow: #FFB607;
@lightyellow: lighten(@yellow, 20%);
@darkyellow: lighten(@yellow, 20%);

@darkgray: #78828d;
@lightgray: #e2e2e2;


@royalblue: #6066dd;
@green: #0FAE92;
@orange: #F77710;
@red: #df4646;
@pink: #EC50B7;

@btnbg: @blue;
@btnprimarybg: @orange;

@linkcolor: @blue;
@linkhover: @lightblue;

@uxspeed: 0.2s;

@serif: "leitura-news",georgia,serif; // 300,600
@sans: "effra",helvetica,sans-serif; // 300,400,500,700