@xltgray: #edf1f4;
@ltgray: #aaa;
@medgray: #909799;
@dkgray: #555;
@xdkgray: #333;
@black: #1c1c1c;
@white: #fff;

@blue: #0089bb;
@darkblue: #005270;
@orange: #ff8b4d;

@darkgray: #78828d;
@lightgray: #e2e2e2;


@btnbg: @blue;
@btnprimarybg: @orange;

@linkcolor: @blue;
@linkhover: lighten(@blue, 15%);

@uxspeed: 0.2s;

@serif: "Merriweather",georgia,serif; 
@sans: "Montserrat","Raleway",helvetica,sans-serif; 