h3.widgettitle {
  padding: 3px;
  display: block;
  font-size: 18px;
  margin-bottom: 1.5rem;
  color: @black;
  a {
    color: @black;
  }
}

#sidebar {
  .widgettitle {
    color: @black;
    margin-bottom: 1em;
  }

  .widget {
    ol:last-child,
    ul:last-child,
    p:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .largo-recent-posts {
    li {
      margin-bottom: 0;
      a {
        color: @black
      }
      h5 {
        margin-bottom: 0;
      }
    }
  }

  .widget + .widget::before {
    display: block;
    width: 4em;
    height: 0.4em;
    background-color: @black;
    content: '';
    margin: 1.5em 0;
  }
}
