/*
Theme Name:     Institute for Nonprofit News
Theme URI:      http://investigativenewsnetwork.org
Description:    Child theme for the Institute for Nonprofit News built with the Project Largo parent theme
Author:         The INN Nerds
Author URI:     http://nerds.inn.org
Template:       largo
Version:        0.2.0
*/
@import "css/style.css?20171113";
