@import "../../../less/variables.less";

.home {
  #page {
    max-width: 100%;
    padding: 0;
  }
  #main {
    margin: 0;
    max-width: 100%;
  }
  #hero {
    background-color:white;
    background-size:contain;
    padding:0;
    height:48vw;
    position:relative;
    overflow:hidden;

    img {
      width:100%;
    }

    @media only screen and (max-width: 600px) {
      background:unset;
      height:auto;
      margin-bottom:0;

      img {
        margin-bottom: 16px;
      }
    }

    .hero-background {
      background-color:rgba(0, 0, 0, 0.75);
      height:auto;
      position:absolute;
      left:0;
      right:0;
      bottom:0;
      width:auto;
      display:block;
      padding: 1.5em 2em 1em;

      .row-fluid {
        max-width: 1170px;
        margin: auto;
      }

      @media only screen and (max-width: 600px) {
        background:unset;
        position:unset;
        padding: 0.5em 10%;

        a {
          color:#909799;
        }
      }
    }

    .heroitem {
      padding:0;
      margin-bottom:8px;
      text-align:left;
      @media only screen and (max-width: 600px) {
        margin-bottom:16px;
      }

      h2 {
        font-size:24px;
        line-height:1;
        margin-bottom:12px;
        color:#39f;
      }

      p, div.textwidget {
        color:#fff;
        line-height: 1.3;
        font-weight: 300;
        font-size:18px;
        @media only screen and (max-width: 600px) {
          color:#000;
        }
      }

      &>*{
        vertical-align: bottom;
      }
    }
  }
  #top-widgets {
    padding-top:3em;
  }
  #homepage-top-right {
    ol {
	  margin: 0;
    }
    .tribe-events-adv-list-widget ol li {
	  margin-bottom: 1em;
    }
    h4.entry-title {
	  font-size: 20px;
	  font-weight: 400;
	  margin-bottom: 0.25em;
	  a {
	    color: @medgray;
	  }
    }
  }
  #hire-us {
    padding: 3em;
    text-align: center;
    h5 {
      color: #fff;
    }
  }
  #members {
    height: auto;
    background: none;
    margin-bottom: 3em;
    h3 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
  }
  #main #supporters {
    padding-top: 2em;
    background-color: @xltgray;
    margin-bottom: 0;
    padding-bottom: 0;
    .span4 {
      padding: 2em 2em 1em;
    }
    h3 {
      width: auto;
      color: @dkgray;
      background-color: transparent;
      line-height: 1;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
    li {
      list-style: none;
      text-align: left;
      margin-bottom: 1em;
      color: @medgray;
      a {
        color: @medgray;
      }
    }
    @media (max-width: 768px) {
      padding-bottom: 2em;
      .span4 {
        clear: both;
        width: 100%;
        padding: 0 2em;
        margin: 0;
      }
      h3 {
        margin-bottom: 1em;
      }
      li {
        text-align: center;
      }
    }
  }
  .sticky-nav-holder {
    border-bottom: none;
    @media (max-width: 768px) {
      border-bottom: @ltgray 1px solid;
    }
  }
}

body.home.admin-bar .sticky-nav-holder {
  border-bottom: none;
  @media (max-width: 768px) {
    border-bottom: @ltgray 1px solid;
  }
}

#email {
  img {
    /*margin: 0 10% 0 0;*/
    display: block;
    width: 15%;
    height: auto;
  }
}
#testimonial {
  img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    margin: 0 5em 0 0;
  }
  p {
    padding: 0 4em;
    font-family: @serif;
    font-size: 21px;
    &.credit {
      text-align: right;
      font-family: @sans;
      font-size: 18px;
    }
  }
  @media ( max-width: 900px ) {
    p {
      padding: 0 2em;
      &.credit {
        text-align: left;
      }
    }
  }
  @media ( max-width: 700px ) {
    img {
      display: block;
      float: none;
      clear: both;
      margin: 0 auto 2em;
    }
    p {
      padding: 0;
      &.credit {
        margin-bottom: 0;
      }
    }
  }
}
