@import "../../../less/variables.less";

.home {
  #homepage-top-right {
    // normally this would be floated left because it is the first span6, but
    // we want it to be first in the markup but to the right
    float: right;

    .widget_text {
      text-align: left;

      h4 {
        font-size: 1rem;
        font-weight: 300;
      }

      .textwidget {
        font-size: 1.8rem;
        color: @black;
      }
    }
  }
  #homepage-top-left {
    // and we want this to the left
    margin-left: 0;
    @basespacing: 3rem;

    .widget_sp_image {
      padding: 0;
      position: relative;

      .widget_sp_image-description {
        // set up the main thing
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        display: table;

        p {
          display: table-cell;
          vertical-align: middle;
          padding-left: 3rem;
          height: 100%;
        }

        font-size: 3rem;
        color: @white;

        b {
          display: block;
          font-size: 150%;
          clear: both;
        }
      }
    }
  }

  .sticky-nav-holder {
    border-bottom: none;
    @media (max-width: 768px) {
      border-bottom: @ltgray 1px solid;
    }
  }

  #homepage-middle {
    .widgettitle {
      padding: 3px;
      display: block;
      font-weight: 300;
    }
    h3 {
      font-size: 1.4rem;
    }

    // widget-specific styles
    .widget_inn-next-event-widget {
      border: 2px solid @dkgray;

      .inner {
        padding: 1.5rem 1.5rem;
      }

      .widgettitle {
        background-color: @dkgray;
        margin-bottom: 0;
        text-align: center;
        color: @white;
        font-weight: 700;
        a {
         color: @white;
        }
      }

      h3 {
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        color: @black;
        a {
          color: @black;
          &:hover {
            color: @black;
          }
        }
      }
      p {
        font-size: 1.2rem;
      }
      btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

body.home.admin-bar .sticky-nav-holder {
  border-bottom: none;
  @media (max-width: 768px) {
    border-bottom: @ltgray 1px solid;
  }
}

#email {
  img {
    /*margin: 0 10% 0 0;*/
    display: block;
    width: 15%;
    height: auto;
  }
}
#testimonial {
  img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    margin: 0 5em 0 0;
  }
  p {
    padding: 0 4em;
    font-family: @serif;
    font-size: 21px;
    &.credit {
      text-align: right;
      font-family: @sans;
      font-size: 18px;
    }
  }
  @media ( max-width: 900px ) {
    p {
      padding: 0 2em;
      &.credit {
        text-align: left;
      }
    }
  }
  @media ( max-width: 700px ) {
    img {
      display: block;
      float: none;
      clear: both;
      margin: 0 auto 2em;
    }
    p {
      padding: 0;
      &.credit {
        margin-bottom: 0;
      }
    }
  }
}
