@import "../../../less/variables.less";

// set up some breakpoints
@hometopbreakpoint: 600px;
@homemidbreakpoint: 720px;

.home {
  .sticky-nav-holder {
    border-bottom: none;
    @media (max-width: 768px) {
      border-bottom: @ltgray 1px solid;
    }
  }
}

#homepage-top-right {
  // normally this would be floated left because it is the first span6, but
  // we want it to be first in the markup but to the right
  // this is handled by the .right class; see common.less

  .widget_text {
    text-align: left;

    h4 {
      font-size: 1rem;
      font-weight: 300;
    }

    .textwidget {
      line-height: 1.2;
      color: @black;

      // scaling font size based on width
      font-size: 1.8rem;
      @media (min-width: 601px) and (max-width: 1100px) {
        font-size: ~"calc(0.4rem + 1.7vw);"
      }
    }
  }
  @media (max-width: @hometopbreakpoint) {
    width: 100%;
    margin: 0;
    clear: both;
    .widget_text {
      text-align: center;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

}

#homepage-top-left {
  // and we want this to go the left, despite being second in markup
  margin-left: 0;

  .widget_sp_image {
    padding: 0;
    position: relative;
    color: @white;

    .widget_sp_image-description {
      position: absolute;
      top: 3em;

      // scaling font size based on width
      font-size: 1.8rem;
      @media (min-width: 601px) and (max-width: 1100px) {
        font-size: ~"calc(0.4rem + 1.7vw);"
      }
      @media (max-width: 600px) {
        font-size: ~"calc(0.4rem + 2.7vw);"
      }

      p {
        padding-left: 2rem;
        height: 100%;
        font-size: inherit;
        text-shadow: 0 0 20px black, 0 0 30px black;
      }

      b {
        display: block;
        font-size: 150%;
        clear: both;
      }
    }
  }
  @media (max-width: @hometopbreakpoint) {
    width: 100%;
    margin: 0;
    clear: both;
  }

}
#homepage-middle {
  padding-top: 1.5 * 16px;
  padding-bottom: 1.5 * 16px;
  box-sizing: border-box;

  .widgettitle {
    font-weight: 700;
    @media (max-width: @homemidbreakpoint) {
      margin-bottom: 1em;
    }
  }
  .largo-recent-posts h5,
  h3 {
    font-size: 1.4rem;
    font-family: @sans;
    font-weight: 700;
    margin-bottom: 1rem;
    @media (max-width: @homemidbreakpoint) {
      font-size: 2rem;
    }
    a {
      color: @black;
      &:hover {
        color: @black;
      }
    }
  }
  h5.top-tag {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .widget {
    border: 2px solid transparent;
  }

  // widget-specific styles
  .widget_inn-next-event-widget {
    border-color: @dkgray;

    .inner {
      padding: 1.5rem 1.5rem;
    }
    .excerpt {
      color: @black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .widgettitle {
      background-color: @dkgray;
      margin-bottom: 0;
      text-align: center;
      color: @white;
      font-weight: 700;
      a {
       color: @white;
      }
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 0.75rem;
      color: @black;
    }
    p {
      font-size: 1.2rem;
    }
    btn {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .largo-recent-posts {
    ul {
      margin-top: 0;
      margin-bottom: 0;
      p:last-child,
      li:last-child {
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: @homemidbreakpoint) {
    .widget:not(.widget_inn-next-event-widget) + .widget:not(.widget_inn-next-event-widget) {
      .widgettitle {
        border-top: 1px solid @ltgray;
        padding-top: 1em;
      }
    }
  }

  // responsive styles

  .span4 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  @supports not (display: flex) {
    @media (min-width: @homemidbreakpoint) {
      // we want to keep the widths of the span4s equal and keep the borders in the middle of the spacing

      // LESS does not like this formulation, so we have to math by hand
      // @item-width: calc( ( 100% - ( 2 * @gutter-half ) )/3 );
      // @gutter-width: (2 * @gutter-half) + 1px; // (2*24px) + 1px = 48px + 1 = 49px; 
      @gutter-half: 1.5 * 16px; // 16px is 1rem: 24px
      @gutter-width: 49px;
      @item-width: ~"calc( ( 100% - (2 * 24px) )/3 )"; // ~"" escapes the content

      @gutter-border: 1px solid @ltgray;

      .span4 {
        width: @item-width;
      }
      .span4:nth-child(3n+1) {
      }
      .span4:nth-child(3n+2),
      .span4:nth-child(3n+3) {
        margin-left: @gutter-half;
        border-left: @gutter-border;
        padding-left: @gutter-half;
      }
    }
  }
  @supports (display: flex) {
    @media (min-width: @homemidbreakpoint) {
      display: flex;
      align-items: stretch;
      .span4 {
        flex: 0 1 auto;
        margin-left: 0;

        &:nth-child(3n+1),
        &:nth-child(3n+2) {
          margin-right: 2em;
        }
        &:nth-child(3n+2),
        &:nth-child(3n+3) {
          padding-left: 2em;
          border-left: 1px solid @ltgray;
        }
      }
    }
  }
}

body.home.admin-bar .sticky-nav-holder {
  border-bottom: none;
  @media (max-width: 768px) {
    border-bottom: @ltgray 1px solid;
  }
}

#email {
  .mc-field-group {
    display: inline;
  }
  input {
    margin-bottom: 0;
    max-width: 350px;
  }
  input.btn {
    max-width: 150px;
  }
}
#testimonial {
  img {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    margin: 0 5em 0 0;
  }
  p {
    padding: 0 4em;
    font-family: @serif;
    font-size: 21px;
    &.credit {
      text-align: right;
      font-family: @sans;
      font-size: 18px;
    }
  }
  @media ( max-width: 900px ) {
    p {
      padding: 0 2em;
      &.credit {
        text-align: left;
      }
    }
  }
  @media ( max-width: 700px ) {
    img {
      display: block;
      float: none;
      clear: both;
      margin: 0 auto 2em;
    }
    p {
      padding: 0;
      &.credit {
        margin-bottom: 0;
      }
    }
  }
}
